body{
    background-color: rgb(52,52,52);
}
.grid{
    width: 400px; height: 600px;
    background-color: rgb(133, 205, 50);
    position: relative;
    border-radius: 3%;
}

.doodler{
    width: 60px; height: 85px;
    background-color: red;
    position: absolute;
    border: solid black; border-radius: 25%; 
}

.platform{
    width: 85px; height: 15px;
    background-color: blueviolet;
    position: absolute;
    border: solid black; border-radius: 30%;
}